<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<dict>
		<key>emphasisColor</key>
		<string>#ee3a85</string>
		<key>secondaryActionForegroundColor</key>
		<string>#2fbced</string>
		<key>defaultForegroundColor</key>
		<string>#332e32</string>
		<key>emphasizedAreaForegroundColor</key>
		<string>#ffffff</string>
		<key>highlightedContentForegroundColor</key>
		<string>#ffffff</string>
		<key>dividerColor</key>
		<string>#cccccc</string>
		<key>contentAreaBackgroundColor</key>
		<string>#ffffff</string>
	</dict>
	<key>dimensions</key>
	<dict>
		<key>defaultViewHorizontalMargin</key>
		<integer>20</integer>
		<key>defaultViewTopMargin</key>
		<string>defaultViewHorizontalMargin</string>
		<key>defaultViewBottomMargin</key>
		<integer>32</integer>
		<key>avatarPhotoBorderWidth</key>
		<integer>3</integer>
		<key>avatarPhotoCornerRadius</key>
		<integer>48</integer>
		<key>contentTextFontSize</key>
		<integer>14</integer>
	</dict>
	<key>styles</key>
	<dict>
		<key>textfieldStyle</key>
		<dict>
			<key>foregroundColor</key>
			<string>secondaryActionForegroundColor</string>
			<key>fullUppercasePlaceholder</key>
			<true/>
			<key>styledPlaceholderAttributes</key>
			<dict>
				<key>font</key>
				<dict>
					<key>name</key>
					<string>italicSystemFont</string>
					<key>size</key>
					<integer>16</integer>
				</dict>
				<key>foregroundColor</key>
				<string>#ff0000</string>
				<key>underlineStyle</key>
				<string>none</string>
			</dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>AmericanTypewriter-CondensedBold</string>
				<key>size</key>
				<integer>12</integer>
			</dict>
		</dict>
		<key>textViewStyle</key>
		<dict/>
		<key>testText</key>
		<dict>
			<key>foregroundColor</key>
			<string>emphasisColor</string>
			<key>styledTextAttributes</key>
			<dict>
				<key>alignment</key>
				<string>right</string>
				<key>lineSpacing</key>
				<integer>0</integer>
				<key>lineHeightMultiple</key>
				<real>0.5</real>
			</dict>
		</dict>
		<key>contentArea</key>
		<dict>
			<key>backgroundColor</key>
			<string>contentAreaBackgroundColor</string>
		</dict>
		<key>emphasizedArea</key>
		<dict>
			<key>backgroundColor</key>
			<string>emphasisColor</string>
			<key>foregroundColor</key>
			<string>emphasizedAreaForegroundColor</string>
		</dict>
		<key>avatarPhoto</key>
		<dict>
			<key>borderColor</key>
			<string>emphasisColor</string>
			<key>borderWidth</key>
			<string>avatarPhotoBorderWidth</string>
			<key>cornerRadius</key>
			<string>avatarPhotoCornerRadius</string>
			<key>clipsToBounds</key>
			<true/>
		</dict>
		<key>contentText</key>
		<dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Arial</string>
				<key>size</key>
				<string>contentTextFontSize</string>
			</dict>
			<key>foregroundColor</key>
			<string>defaultForegroundColor</string>
		</dict>
		<key>itemLabelText</key>
		<dict>
			<key>parent</key>
			<string>contentText</string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>HelveticaNeue-Bold</string>
			</dict>
		</dict>
		<key>header1Text</key>
		<dict>
			<key>parent</key>
			<string>contentText</string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>AvantGardeMdITCTTBold</string>
				<key>size</key>
				<integer>24</integer>
			</dict>
		</dict>
		<key>highlightedContentItemLabelText</key>
		<dict>
			<key>parent</key>
			<string>itemLabelText</string>
			<key>foregroundColor</key>
			<string>highlightedContentForegroundColor</string>
		</dict>
		<key>contentDivider</key>
		<dict>
			<key>backgroundColor</key>
			<string>dividerColor</string>
		</dict>
		<key>highlightedContentArea</key>
		<dict>
			<key>backgroundColor</key>
			<string>defaultForegroundColor</string>
			<key>foregroundColor</key>
			<string>highlightedContentForegroundColor</string>
		</dict>
		<key>roundedButton</key>
		<dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>HelveticaNeue-Bold</string>
				<key>size</key>
				<integer>16</integer>
			</dict>
			<key>foregroundColor</key>
			<string>emphasizedAreaForegroundColor</string>
			<key>backgroundColor</key>
			<string>emphasisColor</string>
			<key>highlightedBackgroundColor</key>
			<string>defaultForegroundColor</string>
			<key>cornerRadius</key>
			<integer>22</integer>
		</dict>
		<key>actionIconButton</key>
		<dict>
			<key>foregroundColor</key>
			<string>secondaryActionForegroundColor</string>
			<key>highlightedForegroundColor</key>
			<string>defaultForegroundColor</string>
			<key>tintImageWithForegroundColor</key>
			<true/>
			<key>borderColor</key>
			<string>secondaryActionForegroundColor</string>
			<key>highlightedBorderColor</key>
			<string>defaultForegroundColor</string>
			<key>borderWidth</key>
			<integer>2</integer>
			<key>cornerRadius</key>
			<integer>16</integer>
		</dict>
		<key>highlightedAreaIconButton</key>
		<dict>
			<key>foregroundColor</key>
			<string>highlightedContentForegroundColor</string>
			<key>highlightedForegroundColor</key>
			<string>emphasisColor</string>
			<key>tintImageWithForegroundColor</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
